

/* Start:/bitrix/components/f5studio/news.detail/templates/news/style.css?1628842824137*/
.image-descr {
    font-size: 14px;
    position: inherit;
    margin-top: 20px !important;
    color: #acacac;
    font-style: italic;
}
/* End */
/* /bitrix/components/f5studio/news.detail/templates/news/style.css?1628842824137 */
